:root {
  --combination0-0: #685884;
  --combination0-1: #9c8ab9;
  --combination0-2: #f9eaff;
  --combination0-3: #00c9a4;
  --gradient-combination0: linear-gradient(to left bottom, #685884, #72618e, #7b6a97, #8574a1, #8f7dab, #9b89b5, #a895c0, #b4a1ca, #c6b3d7, #d7c5e4, #e8d7f1, #f9eaff);
  --combination1-0: #615F64;
  --combination1-1: #685884;
  --combination1-2: #563296;
  --gradient-combination1: linear-gradient(to left bottom, #615f64, #635e6a, #645d70, #665b76, #675a7c, #665680, #655385, #644f89, #61488c, #5d4190, #5a3a93, #563296);
  --red-00: #FF0000;
  --red-200: #DB0000;
  --red-400: #B80000;
  --red-600: #960000;
  --red-800: #760000;
  --orange-00: #FF8500;
  --orange-200: #D36100;
  --orange-400: #A83F00;
  --orange-600: #801A00;
  --orange-800: #5D0000;
  --yellow-00: #FFFF00;
  --yellow-200: #C3C800;
  --yellow-400: #899400;
  --yellow-600: #556300;
  --yellow-800: #333500;
  --lightgreen-00: #9BFF00;
  --lightgreen-200: #62CB00;
  --lightgreen-400: #1D9800;
  --lightgreen-600: #006800;
  --lightgreen-800: #003A00;
  --green-00: #00FF00;
  --green-200: #00CB00;
  --green-400: #009A00;
  --green-600: #006900;
  --green-800: #003D00;
  --cyan-00: #00FFFF;
  --cyan-200: #00CACB;
  --cyan-400: #00989A;
  --cyan-600: #00686B;
  --cyan-800: #003B40;
  --lightblue-00: #009BFF;
  --lightblue-200: #007BDB;
  --lightblue-400: #005DB8;
  --lightblue-600: #004196;
  --lightblue-800: #002775;
  --blue-00: #0000FF;
  --blue-200: #0000CC;
  --blue-400: #000099;
  --blue-600: #000066;
  --blue-800: #00005E;
  --purple-800: #3E0066;
  --purple-600: #6B2F92;
  --purple-400: #985AC0;
  --purple-200: #C886F0;
  --purple-00: #F9B4FF;
  --pink-00: #FF00BC;
  --pink-200: #DB009D;
  --pink-400: #B8007F;
  --pink-600: #960062;
  --pink-800: #730047;
  --rose-00: #FF0037;
  --rose-200: #DB0020;
  --rose-400: #B80009;
  --rose-600: #950000;
  --rose-800: #750000;
  --powertik-1: #0F172A;
  --powertik-2: #1E293B;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


.h-65 {
	height: 65px;
}

.top-0 {
	top: 0px;
}

.left-0 {
	left: 0px;
}

.z-999 {
	z-index: 999;
}

.blur-50 {
	backdrop-filter: blur(50px);
}

.px-16 {
	padding-left: 16px;
}

.px-16 {
	padding-right: 16px;
}

.h-5 {
	height: 5px;
}

.bottom-0 {
	bottom: 0px;
}

.right-0 {
	right: 0px;
}

.blur-100 {
	backdrop-filter: blur(100px);
}

.w-\[100\%\] {
	width: 100%;
}

.px-\[5\%\] {
	padding-left: 5%;
}

.px-\[5\%\] {
	padding-right: 5%;
}

.border-b-\[1px\_solid\_\$lightblue-200\] {
	border-bottom: 1px solid var(--lightblue-200);
}

.bg-color-\[rgba\(0\,0\,0\,\.2\)\] {
	background-color: rgba(0,0,0,.2);
}

.h-\[100\%\] {
	height: 100%;
}

.hover\:bg-color-\[\$lightblue-800\]:hover {
	background-color: var(--lightblue-800) !important;
}

.pt-dark-hover\:bg-color-\[\$lightblue-200\]:hover {
	background-color: var(--lightblue-200) !important;
}

.bg-color-\[\$lightblue-200\] {
	background-color: var(--lightblue-200);
}

.h-\[100vh\] {
	height: 100vh;
}

.flex {
	display: flex;
}

.align-center {
	align-items: center;
}

.justify-between {
	justify-content: space-between;
}

.fixed {
	position: fixed;
}

.decoration-none {
	text-decoration: none;
}

.pt-dark-text-black {
	color: black !important;
}

.text-white {
	color: white;
}

.capital {
	text-transform: capitalize;
}

.style-none {
	list-style: none;
}

.pointer {
	cursor: pointer;
}

.absolute {
	position: absolute;
}

.relative {
	position: relative;
}

.justify-center {
	justify-content: center;
}
